<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="30300">
      <setting label="30301" type="text"   id="username" default=""/>
      <setting label="30302" type="text"   id="password" option="hidden" default=""/>
      <setting label="30303" type="slider" id="refresh" default="8" range="0.5,0.5,10" option="float" />
      <setting label="30304" type="slider" id="timeout" default="10.0" range="0.5,0.5,20" option="float" />
      <setting label="30305" type="text"   id="base" default="https://api.iptv.bulsat.com"/>
      <setting label="30306" type="slider" id="check_interval" default="60" range="30,5,90" option="int"/>
      <setting label=""      type="bool"   id="firstrun" visible="false" default="true"/>
    </category>
    <category label="30400">
      <setting label="30401" type="bool"   id="xxx" default="false"/>
      <setting label="30402" type="enum"   id="dev_id" values="Pc|Samsung|Lg|Panasonic|Android" default="0"/>
      <setting label="30403" type="text"   id="app_ver" default="0.01"/>
      <setting label="30404" type="bool"   id="dbg" default="false"/>
      <setting label="30405" type="bool"   id="en_cp" default="false"/>
      <setting label="30406" type="folder" id="w_path" default="" option="writeable" visible="eq(-1,true)"/>
      <setting label="30407" type="bool"   id="en_group_ch" default="true"/>
      <setting label="30408" type="bool"   id="en_custom_cmd" default="false"/>
      <setting label="30409" type="text"   id="script_cmd" default="" visible="eq(-1,true)"/>
      <setting label="30410" type="text"   id="builtin_cmd" default="" visible="eq(-2,true)"/>
    </category>
    <category label="30500">
      <setting label="30501" id="restart_pvr"  type="action" action="XBMC.StartPVRManager"/>
      <setting label="30502" type="bool"   id="en_reload_pvr" default="true"/>
      <setting label="30503" type="bool"   id="ext_epg" default="true"/>
      <setting label="30504" type="text"   id="map_dat" default="http://snip.li/epgmap" visible="eq(-1,true)"/>
    </category>
</settings>
